/commands.txt
/hw5_lrm444.zip
/maxent-3.0.0.jar
/MEtag.class
/MEtag.java
/MEtrain.class
/MEtrain.java
/model.chunk
/response.chunk
/score.chunk.py
/score.chunk.py.bak
/test.feature
/training.feature
/trove.jar
/WSJ_02-21.pos-chunk
/WSJ_23.pos
/WSJ_24.pos
/WSJ_24.pos-chunk